<header>
  <a href="/"><h1>Jira time tracker</h1></a>
  <div class="layout-forkme">
    <a href="https://bitbucket.org/vmeurisse/jtime" target="_blank" tabindex="-1">Fork and suggestions</a>
  </div>
</header>
<main>
</main>
<div id="jtime-loader" hidden>
  <div class="flex">
    <div class="conway">
      {{#each conway}}
        {{#each this}}
          <div class="conway-cell conway{{@../index}}{{this}}"></div>
        {{/each}}
      {{/each}}
    </div>
    <div>Reticulating splines...</div>
  </div>
</div>
